# STC Jawwy

In [1]:
"""
Here we install libraries that are not installed by default 
Example:  pyslsb
Feel free to add any library you are planning to use.
"""
!pip install pyxlsb

Requirement already satisfied: pyxlsb in /Users/mahmoud/opt/anaconda3/lib/python3.8/site-packages (1.0.9)

In [2]:
# Import the required libraries 
"""
Please feel free to import any required libraries as per your needs
"""
import pandas as pd     # provides high-performance, easy to use structures and data analysis tools
import pyxlsb           # Excel extention to read xlsb files (the input file)
import numpy as np      # provides fast mathematical computation on arrays and matrices

# Jawwy dataset
The dataset consists of details about each customer and the movies and/or tv shows watched in addition to the genre. 

You are required to work on task three to build a recommendation engine for our platform to Recommend movies to usesrs that they might be interested in¶

In [3]:
dataframe = pd.read_excel("stc TV Data Set_T3.xlsb",index_col=0)
# Please make a copy of dataset if you are going to work directly and make changes on the dataset
# you can use   df=dataframe.copy()

In [4]:
# check the data shape
dataframe.shape

(1048575, 5)

In [5]:
# display the first 5 rows 
dataframe.head()

   user_id_maped          program_name  rating      date_ program_genre
0          26138            100 treets       1 2017-05-27         Drama
1           7946                 Moana       1 2017-05-21     Animation
2           7418  The Mermaid Princess       1 2017-08-10     Animation
3          19307  The Mermaid Princess       2 2017-07-26     Animation
4          15860             Churchill       2 2017-07-07     Biography

In [6]:
# describe the numeric values in the dataset
dataframe.describe()

       user_id_maped        rating
count   1.048575e+06  1.048575e+06
mean    1.709266e+04  2.497283e+00
std     1.003513e+04  1.119837e+00
min     1.000000e+00  1.000000e+00
25%     8.253000e+03  1.000000e+00
50%     1.714900e+04  2.000000e+00
75%     2.566500e+04  3.000000e+00
max     3.428000e+04  4.000000e+00

In [7]:
# check if any column has null value in the dataset
dataframe.isnull().any()

user_id_maped    False
program_name     False
rating           False
date_            False
program_genre    False
dtype: bool

In [9]:
# we import Visualization libraries 
# you can ignore and use any other graphing libraries 
import matplotlib.pyplot as plt # a comprehensive library for creating static, animated, and interactive visualizations
import plotly #a graphing library makes interactive, publication-quality graphs. Examples of how to make line plots, scatter plots, area charts, bar charts, error bars, box plots, histograms, heatmaps, subplots, multiple-axes, polar charts, and bubble charts.
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import seaborn as sns
%matplotlib inline

In [16]:
"""
TODO build your Recommender system to Highlight Programs that usesrs might be interested in
"""
df = dataframe.copy()
ratings = pd.DataFrame(df.groupby('program_name')['rating'].mean())## construcrting a dataframe with the program name and average rating
ratings['Number of Ratings'] = pd.DataFrame(df.groupby('program_name')['rating'].count()) ##Adding the number of ratings
ratings.head()

                         rating  Number of Ratings
program_name
#FollowFriday          1.784314                510
10 Days in a Madhouse  1.707052                553
100 treets             1.836305               1851
101 Dalmatians         1.466102                118
102 Dalmatians         1.558140                172

In [17]:
ratings.sort_values('Number of Ratings',ascending=False).head(20) ##Sortings by the most rated program

                                         rating  Number of Ratings
program_name
The Boss Baby                          2.008858              24047
Pingu                                  2.819903              17063
Trolls                                 1.996592              13793
The Adventures of Petey and Friends    1.824698               9612
Moana                                  2.082911               8081
The Mermaid Princess                   1.854352               7525
Baywatch                               1.817913               7436
Oscar's Oasis                          2.857681               7174
Ferdinand                              1.941030               6817
An Inconvenient equel: Truth to Power  1.867234               6342
Collateral Beauty                      1.882486               6212
Inside                                 1.823443               6134
The hape of Water                      1.925005               5427
Nan and Lili    Ep.                    2.928146               5038
Me and My iblings    Ep.               2.591356               4581
Rings                                  1.812047               4549
Dunkirk                                1.886439               4535
Surf's Up : WaveMania                  1.881371               4375
Alien: Covenant                        1.779343               4260
Tad the Lost Explorer                  1.884027               4182

In [20]:
user_Ratings = df.pivot_table(index='user_id_maped', columns='program_name', values='rating') ## Constructing a matrix of the movies that each user rated
user_Ratings.head()

program_name,#FollowFriday,10 Days in a Madhouse,100 treets,101 Dalmatians,102 Dalmatians,11.6,12 Monkeys Arms Of Mine,12 Monkeys Atari,12 Monkeys Blood Washed Away,12 Monkeys Bodies Of Water,...,iCarly iLike Jake,iCarly iNevel,iCarly iPilot,iCarly iSpy A Mean Teacher,iCarly iWanna tay With pencer,iCarly iWant A World Record,iCarly iWant More Viewers,iCarly iWill Date Freddie,xXx,xXx: Return of Xander Cage
user_id_maped,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,1.5,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
"""
TODO show the recommendations (top 5) for the people who watched "Moana" movie
"""

'\nTODO show the recommendations (top 5) for the people who watched "Moana" movie\n'