# STC Jawwy

In [1]:
"""
Here we install libraries that are not installed by default 
Example:  pyslsb
Feel free to add any library you are planning to use.
"""
!pip install pyxlsb

Requirement already satisfied: pyxlsb in /Users/mahmoud/opt/anaconda3/lib/python3.8/site-packages (1.0.9)

In [2]:
# Import the required libraries 
"""
Please feel free to import any required libraries as per your needs
"""
import pandas as pd     # provides high-performance, easy to use structures and data analysis tools
import pyxlsb           # Excel extention to read xlsb files (the input file)
import numpy as np      # provides fast mathematical computation on arrays and matrices

# Jawwy dataset
The dataset consists of details about each customer and the movies and/or tv shows watched in addition to the genre. 

You are required to work on task three to build a recommendation engine for our platform to Recommend movies to usesrs that they might be interested inÂ¶

In [3]:
dataframe = pd.read_excel("stc- Jawwy TV Data Set_T3.xlsb",index_col=0)
# Please make a copy of dataset if you are going to work directly and make changes on the dataset
# you can use   df=dataframe.copy()

In [4]:
# check the data shape
dataframe.shape

(1048575, 5)

In [5]:
# display the first 5 rows 
dataframe.head()

   user_id_maped          program_name  rating      date_ program_genre
0          26138            100 treets       1 2017-05-27         Drama
1           7946                 Moana       1 2017-05-21     Animation
2           7418  The Mermaid Princess       1 2017-08-10     Animation
3          19307  The Mermaid Princess       2 2017-07-26     Animation
4          15860             Churchill       2 2017-07-07     Biography

In [6]:
# describe the numeric values in the dataset
dataframe.describe()

       user_id_maped        rating
count   1.048575e+06  1.048575e+06
mean    1.709266e+04  2.497283e+00
std     1.003513e+04  1.119837e+00
min     1.000000e+00  1.000000e+00
25%     8.253000e+03  1.000000e+00
50%     1.714900e+04  2.000000e+00
75%     2.566500e+04  3.000000e+00
max     3.428000e+04  4.000000e+00

In [7]:
# check if any column has null value in the dataset
dataframe.isnull().any()

user_id_maped    False
program_name     False
rating           False
date_            False
program_genre    False
dtype: bool

In [8]:
# we import Visualization libraries 
# you can ignore and use any other graphing libraries 
import matplotlib.pyplot as plt # a comprehensive library for creating static, animated, and interactive visualizations
import plotly #a graphing library makes interactive, publication-quality graphs. Examples of how to make line plots, scatter plots, area charts, bar charts, error bars, box plots, histograms, heatmaps, subplots, multiple-axes, polar charts, and bubble charts.
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [9]:
"""
TODO build your Recommender system to Highlight Programs that usesrs might be interested in
"""

'\nTODO build your Recommender system to Highlight Programs that usesrs might be interested in\n'

In [10]:
"""
TODO show the recommendations (top 5) for the people who watched "Moana" movie
"""

'\nTODO show the recommendations (top 5) for the people who watched "Moana" movie\n'